[submodule "studying_for_elixirDaze_Programming_Books"]
	path = studying_for_elixirDaze_Programming_Books
	url = https://github.com/miketestgit01/studying_for_elixirDaze_Programming_Books.git
[submodule "Master_MPI"]
	path = Master_MPI
	url = https://github.com/MichaelDimmitt-Starred/Master_MPI.git
[submodule "Code-for-the-book-Artificial-Intelligence-Modern-Approach"]
	path = Code-for-the-book-Artificial-Intelligence-Modern-Approach
	url = https://github.com/miketestgit01/Code-for-the-book-Artificial-Intelligence-Modern-Approach.git
